* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 500px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.changer {
  border-radius: 10px 10px 0 0;
  max-width: 295px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(161, 159, 159, 0.6980392157);
          box-shadow: 2px 2px 2px 2px rgba(161, 159, 159, 0.6980392157);
}
.changer__heading {
  border-radius: 10px 10px 0 0;
  width: 295px;
  background-color: #cbe4cc;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.changer__logo {
  width: 25px;
  height: 25px;
}
.changer__logo img {
  width: 100%;
  height: 100%;
}
.changer__title {
  font-size: 17px;
  font-weight: 600;
  color: #4c484b;
}
.changer__date {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(36%, #d0d0d0), color-stop(30%, transparent), color-stop(27%, transparent), color-stop(33%, #d0d0d0), color-stop(46%, #d0d0d0), color-stop(103%, transparent));
  background-image: linear-gradient(-90deg, #d0d0d0 36%, transparent 30%, transparent 27%, #d0d0d0 33%, #d0d0d0 46%, transparent 103%);
  background-size: 100% 20px;
  padding: 0 15px;
  background-color: silver;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.changer__date-now {
  font-weight: bolder;
  color: #473f4c;
}

.exchange {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e3e3e3;
  padding: 15px 15px;
}
.exchange__title {
  font-size: 15px;
  color: #777777;
}

.currency-was,
.currency-became {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currency-was__value,
.currency-became__value {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, white), color-stop(60%, #fffbd2));
  background: linear-gradient(to bottom, white 40%, #fffbd2 60%);
  border-radius: 5px;
  padding: 0 5px;
  width: 100%;
  height: 55px;
  border: 2px solid silver;
  text-align: end;
  font-size: 25px;
  font-weight: bold;
}

.currency-was input,
.currency-became input:focus {
  outline: none;
}

.currency-was select,
.currency-became select {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, white), color-stop(60%, #fffbd2));
  background: linear-gradient(to bottom, white 40%, #fffbd2 60%);
  width: 33%;
  color: #777777;
  border-radius: 5px;
  border: 2px solid silver;
}

.currency-was select:focus,
.currency-became select:focus {
  outline: none;
  color: #777777;
}

.get-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 5px;
}
.get-result__equal {
  cursor: pointer;
  width: 65px;
  height: 55px;
  background-color: #e0001a;
  border: 2px solid #998485;
  border-radius: 5px;
  color: white;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.get-result__place {
  cursor: pointer;
  background-color: #fdfdfd;
  width: 64.38px;
  height: 55px;
  border: 2px solid silver;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.get-result__place img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */